@model OC.Models.LoginRequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login Page";
}

<div class="d-flex flex-column align-items-center justify-content-center vh-100 bg-light">
    <img class="mb-1" src="/Logo_OC_3.svg" alt="logo" width="350" height="350">

     <div class="text-center mb-3">
        <h1 class="h3 mb-3 fw-normal">Veuillez vous connecter</h1>
    </div>
    <form method="post" asp-controller="Login" asp-action="Login" class="w-100" style="max-width: 330px;" method="post">
        <div class="form-floating mb-3">
            <input type="email" asp-for="Email" class="form-control" id="floatingInput" placeholder=""
                required />
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder=""
                required />
            <label for="floatingPassword">Mot de passe</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" /> Remember me
            </label>
        </div>
        <button class="btn btn-primary w-100" type="submit">Sign in</button>
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
    <p class="mt-5 mb-3 text-muted text-center">@DateTime.Today.Year</p>
</div>