@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}


<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="bi bi-house-fill"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-box"></i> Produits
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-people"></i> Agents
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" data-bs-toggle="collapse" href="#collapseOptions"
                            aria-controls="false" aria-controls="collapseOptions">
                            <i class="bi bi-file-earmark-text"></i> Formulaires
                        </a>
                        <div class="collapse" id="collapseOptions">
                            <div class="nav-link text-dark">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" data-bs-toggle="collapse"
                                            href="#collapseRemplirOptions" aria-controls="false"
                                            aria-controls="collapseRemplirOptions">
                                            <i class="bi bi-pencil-square"></i> Remplir
                                        </a>
                                        <div class="collapse" id="collapseRemplirOptions">
                                            <div class="nav-link text-dark">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark nowrap" data-bs-toggle="collapse"
                                                            href="#collapseExpo" aria-controls="false"
                                                            aria-controls="collapseRemplirOptions">
                                                            <i class="bi bi-files"></i>Exportation
                                                        </a>
                                                        <div class="collapse" id="collapseExpo">
                                                            <div class="nav-link text-dark">
                                                                <ul class="nav flex-column">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link text-dark nowrap"
                                                                            data-bs-toggle="collapse" href="#"
                                                                            aria-controls="false"
                                                                            aria-controls="collapseExpo"
                                                                            id="loadEXST001" data-form-id="EX-ST001">
                                                                            <i class="bi bi-file-earmark-plus"></i>
                                                                            EX-ST001
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link text-dark nowrap"
                                                                            data-bs-toggle="collapse" href="#"
                                                                            aria-controls="false"
                                                                            aria-controls="collapseExpo">
                                                                            <i class="bi bi-file-earmark-plus"></i>
                                                                            EX-ST002
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link text-dark nowrap"
                                                                            data-bs-toggle="collapse" href="#"
                                                                            aria-controls="false"
                                                                            aria-controls="collapseExpo">
                                                                            <i class="bi bi-file-earmark-plus"></i>
                                                                            EX-ST003
                                                                        </a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link text-dark nowrap"
                                                                            data-bs-toggle="collapse" href="#"
                                                                            aria-controls="false"
                                                                            aria-controls="collapseExpo">
                                                                            <i class="bi bi-file-earmark-plus"></i>
                                                                            EX-ST004
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark nowrap" data-bs-toggle="collapse"
                                                            href="#collapseRemplirOptions" aria-controls="false"
                                                            aria-controls="collapseRemplirOptions">
                                                            <i class="bi bi-files"></i>Importation
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark nowrap" data-bs-toggle="collapse"
                                                            href="#collapseRemplirOptions" aria-controls="false"
                                                            aria-controls="collapseRemplirOptions">
                                                            <i class="bi bi-files"></i>Traffic Frontalier
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark nowrap" data-bs-toggle="collapse"
                                                            href="#collapseRemplirOptions" aria-controls="false"
                                                            aria-controls="collapseRemplirOptions">
                                                            <i class="bi bi-files"></i>Production
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark nowrap" data-bs-toggle="collapse"
                                                            href="#collapseRemplirOptions" aria-controls="false"
                                                            aria-controls="collapseRemplirOptions">
                                                            <i class="bi bi-files"></i>Laboratoires
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark">
                                            <i class="bi bi-archive-fill"></i> Recent
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-layers"></i> Integrations
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Rapports enregistrés</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-calendar"></i> Mois en cours
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-clock-history"></i> Dernier trimestre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-graph-up"></i> Vente de fin d'année
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>
            <div id="dynamicContent" class="container">
                <!-- The form will be dynamically loaded here -->
            </div>


            <!-- Chart Placeholder -->
            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

            <!-- Table -->
            <h2>Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 1; i <= 15; i++)
                        {
                            <tr>
                                <td>@i,001</td>
                                <td>random</td>
                                <td>data</td>
                                <td>placeholder</td>
                                <td>text</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/dashboard.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            datasets: [{
                label: 'Weekly Data',
                data: [14000, 20000, 22000, 18000, 24000, 22000, 12000],
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                tension: 0.4
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: false }
            }
        }
    });
</script>